

<meta charset="utf-8">
		<script type='text/javascript' src='scripts/jquery.js'></script>
<script type='text/javascript' src='scripts/js.js'></script>
<script type='text/javascript' src='scripts/jquery.PrintArea.js'></script>
<link rel='stylesheet' href='style/type_org_style.css'/>
	






	<section id="main_connect_info">

		
			<div class='org_name'>
			<p class="boldtext">Юридическое лицо</p>
			</div>
		
	<ul>
	
	
	<li>Свидетельство о постановке на учет в налоговом органе (ИНН/КПП)<span class='more_info'>?</span>
	<p class='content_info'>копия, заверенная организацией.* Обратите внимание на КПП в Свидетельстве, 
	такой же КПП должен быть во всех заявлениях, которые печатаются из личного кабинета.</p></li>
	<li>Свидетельство о государственной регистрации (ОГРН) или Свидетельство о внесении записи в ЕГРЮЛ<span class='more_info'>?</span> 
	<p class='content_info'>выдавалось при любых изменениях в реквизитах организации) - копия, заверенная организацией.* Обратите внимание на сокращенное наименование в данном Свидетельстве,
 такое же должно быть в Заявлении на создание квалифицированного сертификата ключа проверки электронной подписи в поле «О (наименование организации)».</li>
	<li>Копия документа, подтверждающего полномочия руководителя<span class='more_info'>?</span>
	<p class='content_info'>(приказ о назначении на должность руководителя организации или протокол Общего собрания участников 
	(акционеров) общества об избрании директора 
	(решение иного органа управления общества в соответствии с учредительными документами организации) 
	или решение собственника имущества унитарного предприятия о назначении директора) 
	- копия, заверенная организацией*. Обратите внимание, что не принимаются приказы по форме Т-1, Т-5 и т.п.
При изготовлении ЭП для участия в торгах не на руководителя, а на имя уполномоченного представителя организации 
- заверенная организацией доверенность, подтверждающая полномочия владельца 
(формируется в личном кабинете или скачать бланк доверенности УП) ЭП, и 
заверенный организацией приказ о назначении на должность.</p>

	</li>
	
	<li>Копия паспорта владельца ЭП<span class='more_info'>?</span> 
<p class='content_info'>(2 и 3 страница паспорта, на чье имя изготавливается ЭП), заверенная организацией*. В случае, если получать ЭП приезжает лично владелец ЭП, то в УЦ предоставляется оригинал паспорта и копия. 
Если владельцем ЭП является иностранный гражданин – копия нотариального перевода паспорта, заверенная организацией*.</p>
	</li>
	<li>Страховой номер индивидуального лицевого счета (СНИЛС) владельца ЭП<span class='more_info'>?</span> 
	<p class='content_info'>(СНИЛС) владельца ЭП (лица, на чье имя изготавливается ЭП) – копия заверенная организацией*. 
	В случае отсутствия СНИЛС у лица, на чье имя изготавливается 
	Квалифицированный сертификат, необходимо предоставить  письмо
	о подтверждении СНИЛС или письмо об отсутствии СНИЛС", 
	сделав названия писем активным ссылками, нажимая на которые скачивается бланк письма.
.</p></li>
	<li>Для получения ЭП для участия в торгах оригинал или нотариально заверенная копия выписки из ЕГРЮЛ не старше 1 месяца.<span class='more_info'>?</span> 
		<p class='content_info'>«Квалифицированная подпись для ИС и электронных торгов» и «Подпись для участия в электронных торгах», предоставляется оригинал или нотариально заверенная копия выписки из ЕГРЮЛ не старше 1 месяца.</p></li>
	<li>Доверенность на получение, если ЭП получает не владелец сертификата (скачать бланк доверенности).<span class='more_info'>?</span> 
	<p class='content_info'>Если ЭП получает не владелец сертификата, а его доверенное лицо, то дополнительно предоставляются:</p>
		<ul class='content_info'>
			<li>Доверенность на получение сертификата (скачать бланк доверенности)</li>
			<li>	Паспорт доверенного лица - оригинал и дополнительно копия (2 и 3 страницы).</li>
		</ul>
		
	</ul>


<div id='div_print'> 
<a id='print_doc' href='#' rel='print/print_ul.html'> печать</a>
</div>

	
	<p class='back_p'> <a href='index.html'>Назад</a></p>
</section>