
@media (max-width:1700px){
         body .user_profile_projects,body #project_list{width:1150px}
}

@media  (max-width:1600px){

     body .header_fon{top:-40px}


}

      @media  (max-width:1590px){




}

      @media  (max-width:1490px){

      body .user_profile_projects,body #project_list{width:920px}


}



      @media  (max-width:1300px){

           body .user_profile_projects,body #project_list{width:690px};
}



@media  (max-width:1200px){

    body .project_status{font-size:0.9em;bottom:-5px;}

}




.menu_bkg{background-color:#3f4244;}



      @media  (max-width:940px){


          body .categ_div{font-size:0.8em}
            .medium_main_area div{padding:0px;}

body .friend_accept_div_wrap{width:105px;}



          body .project_access_rules {width:100%}
                body .project_access_rules>div{width:50%;float:left}

                .secure_settings {padding:5px !important}
          body .project_title_desc>div{margin:3px;}
          body.add_project_wrap{width:80%}





          .project_nav_wrap .project_nav>div{width:60px}










body .close_add_proj span {font-weight:bold;}
body .close_add_proj {right:2px;}
  }
@media screen AND (min-width:925px){  body aside{left:0px}}


@media screen AND (max-width:925px){

    body aside{left:-80px}
   body .user_profile_projects,body #project_list{width:570px;}
body .project_div{width:170px;height:240px;}

/*body .project_header_top{margin-left:20px;}*/
/*    body .logosvg{display:none}*/

       body .project_user_wrap{width:100%}
   body .breadcrumb>ul {padding-left:20px}

body #project_list{padding-left:0px}
/*    body .logosvg{left:15px}*/


/*         body .user_profile_projects,body #project_list{width:90%}
body .project_div{width:170px;height:230px;}*/

body #main_statistic_wrap{width:90%;}
body #main_statistic_wrap > div:not(.mainpage_back1){margin:10px 0px;}
      body #friendlist{width:90%}

  .slider_popular{display:none !important}
  .project_sort_info{padding-left:5px !important;}



      .filter_svg_menu_wrap{clear:both}
    .filter_svg_menu>div{width:30px !important;margin:0 10px !important}
      .filter_svg_menu_wrap{position:relative;top:25px !important;  }

    .main_header {
    padding-left: 20px !important;
}
/*      .filter_svg_menu{width:inherit !important}*/

   body .img_projects_div{height:57%}

}




@media (max-width:780px){
body .project_actions_wrap{width:240px;position:relative;margin:0 auto;overflow:hidden;top:80px;right:0px}
body .project_actions_wrap>div{width:120px;float:left}
body .project_actions_wrap.glyphicon{font-size:26px;}


body .project_content_wrap{padding:0px;padding-top:60px}






    body #main_statistic_wrap>div{width:95% !important;margin-left:2%}
    .container {

    margin-left: 0px !important;
    width: 100% !important;
    }
            .hover-svg{width:100% !important;top:-5px !important;left:25px;}



    }
      @media (min-width:760px){
     .top_add_project_menu{height:40px}
  }
  @media (max-width:760px){
     .top_add_project_menu{height:55px;font-size:0.9em}
  }


      @media (min-width:690px){
   .project_title_desc{max-width:75%}
  }


    @media (max-width:690px){
   .project_title_desc{max-width:calc(95% - 150px)}
  }


  @media  (max-width:576px){
           body .user_profile_all_informaton_wrap{max-width:230px}
      body .project_canvas{margin-top:30px !important}
          .next_add_project_item_back,.next_add_project_item  {position:absolute !important;top:30px;width:70px;;right:0px;;;width:100px;height:20px !important;line-height:20px !important;padding:0px !important}
       .next_add_project_item_back{right:75px}
    .logosvg {display:none}
           body .user_profile_projects,body #project_list{width:380px}


  body .message_peoples_list_wrap{width:90%;}

      body .general_settings{width:100%;padding:10px;}
      body .user_info_settings {width:90%}




body .user_project .user_profile_ava{;height:70px;position:relative;;margin:0px;float:right;width:60px;top:2px;}
body .user_project .user_profile_ava img{position:relative;position:relative;right:5px;top:-30%;}
       .hover-svg{display:none;}
       .proj_age_rule{width:90% !important;margin-left:5% !important;}
  }
    @media  (max-width:540px){
  body .categ_list>div{ background-color:none;width:130px;border:none;}
    }
    @media  (max-width:460px){

    .project_title_desc{max-width:95%}

    }
   @media  (min-width:420px){
          .left_menu_div{display:inline-block};
          .user_menu > div{height:65px}
      }

  @media  (max-width:420px){
          body .user_menu > div{height:24px}
          .user_menu_div_click>p{color:red}
    body .user_menu > div:not(.user_menu_div_click)::after {height:0px}
        body .user_menu > div::after {height:0px}
  .user_menu > div{height:35px}
.left_menu_div{display:none}
    body .project_menu_wrap>div>span:first-child{display:none}
        body .edit_projectcontent_menu>div>span:first-child{display:none}
          body .addproj_foto_text{display:none}
span:first-child
          body .project_user_wrap{width:100%;left:0px}
  }

  @media (max-width:400px){
      body .project_actions_wrap{height:50px;}
        body .project_actions_wrap>div{padding:0 5px}
        body .project_header_top{left:-60px;}
body .container{padding:0px}
         .project_access_rules h5{height:60px !important}
      body .close_curent_project{right:10px;}
                 body .user_profile_projects,body #project_list{width:100%}
      body .project_div{width:calc(50% - 10px);height:223px;min-width:118px;margin:8px 5px;}
body .img_projects_div{height:57%}
    }

    @media (max-width:330px){
body .header_dop_nav_adaptive {right:-25px;}
body .project_header_top_adaptive{left:-40px}


  }


.sort_map_wrap{width:280px !important;margin-left:-140px !important}
body .main_page_layer{float:none;min-height:100vh; position:relative; ;width:100%;padding-top:100px}
body .main_page_layer:after{content:'';display:block;clear:both;height:1px;}

.project_user_wrap,.project_content_wrap{padding-top:70px;}
.project_user_wrap #project_list{position:relative;}

.clear{clear:both;;width:100%;position:relative;}

body input{border:1px solid #E0E0E0;}

/*.mainpage_back1:after{
    content:'';

    display:block;
    position:absolute;
    top:0px;left:0px;
    width:100%;
    height:100%;
        background-image: url("/images/fon/otis-redding.png");

}*/
.mainpage_back_color::after{display:block;position:absolute;width:100%;height:100%;background-color:#423A3A;
      content:'';z-index:-2;top:0px;left:0px;}
html, body {min-height: 100%;margin:0;}
.absolute{position:absolute;top:0px;left:0px;}
body {
padding:0px;

background: linear-gradient(135deg, rgb(255, 255, 255) 0%,rgb(231, 231, 231) 36%,rgb(228, 228, 228) 63%,rgb(254, 254, 254) 100%);
cursor:default;

  color: #f7f7f7;;
font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 15px;
    overflow:auto;
    position:relative;

/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}

/*min-widths*/
.input-group-addon {padding:6px;}
input[disabled]{
    background-color:grey;
}
h2,h3,h4{padding:5px;}
.strong{font-weight:bold;}
a:visited,a:focus{color:none !important   ;text-decoration: none}
.fixed{position:fixed !important;}
.a_style_dark,.breadcrumb a,a,.a_style{text-decoration:none;outline:none !important;cursor:pointer;color:#7aabbd;font-weight:bold}



a:active,.a_style:active{text-decoration:none;}
.categ_wrap:hover,.filter_content li:hover,a:hover,.a_style:hover,.link_style:hover{color:#fb878f;;text-decoration:none}
 .mybtn,.filter_content li,.link_style,a,.a_style{transition:all ease-in 0.3s ;cursor:pointer;position:relative;}
.link_style{font-weight:550}
a,input{outline:none !important;border:none;}
textarea{resize:none;padding:20px;}

div,aside,nav{padding:0px ;margin:0px}

.clear:after{clear:both;display:block;content:''}
/*functioanal class*/

.medium_main_area{position:absolute;;height:95px;left:0px;
               ;padding:0px;margin:0 auto;width:100%;top:105px;

 }
 .main_page{top:90px}




 .hiddendiv{visibility:hidden !important}
 .absolute_block{

        display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    z-index: 10000;
 }


.mainpage_back1{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#421339+0,15492d+36,471443+73,573360+100 */

background: linear-gradient(135deg, rgba(66,19,57,1) 0%,rgb(5, 42, 32) 36%,rgb(48, 25, 25) 73%,rgb(0, 0, 0) 100%);

width:100%;height:100%;position:absolute;left:0px;top:0px;
opacity:0.8;
z-index:-1;

}

.breadcrumb:after{content:'';display:block;width:1px;clear:both;}

.main_page_layer{

position:relative;min-height:100%;



/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}



.color_title{color:#5f5f5f;font-weight:bold;font-family:"Tangerine,serif";}
.main_page_layer .project_nav_title{position:relative;line-height:30px;text-align:center;font-size:0.9em}
.txt_cntr{text-align:center;margin:0px}
.sort_wrap .txt_cntr{border-bottom:1px solid rgba(255, 255, 255, 0.3);}
.selected_filter_text{padding-top:4px;}
.nav_add_picfon{z-index:500}
.add_picfon object{width:100%;height:100%;position:relative;top:0px;left:0px;}
.add_picfon{width:110px;height:105px;padding:0px;position:absolute;z-index:700;float:left;left:-25px;top:0px;}
.body_alter{background-color:#1C1C1C;z-index:100;overflow:visible;opacity:0.6}

.alter_fon{
  height: 100%; /* Высота максимальна */
 background-color: #000; /* Чёрный фон */
  left: 0; /* Нулевой отступ слева */
  position: absolute; /* Фиксированное положение */
  top: 0; /* Нулевой отступ сверху */
  bottom:0px;
  opacity: 0.9; /* Степень прозрачности */
  position: fixed; /* Фиксированное положение */
  width: 100%; /* Ширина максимальна */
  z-index: 95000; /* Заведомо быть НАД другими элементами */
 }


/*fol  filter_rez*/
.alter_filter_fon{
    z-index:-1;
 height: 100%; /* Высота максимальна */
 background-image:url('/images/fon/crossword.png');
 background-color:#1e222d;
  margin:0px !important;
  left: 0; /* Нулевgfой отступ слева */

  position: fixed; /* Фиксированное положение */
  top: 0; /* Нулевой отступ сверху */
  bottom:0px;

  opacity: 1 ;/* Степень прозрачности */
  position: absolute; /* Фиксированное положение */
  border-radius:7px;
  width: 100%; /* Ширина максимальна */

}


.mainpage_back_settings{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#06131e+0,19180d+100 */
background: #06131e; /* Old browsers */
background: -moz-linear-gradient(left,  #06131e 0%, #19180d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #06131e 0%,#19180d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #06131e 0%,#19180d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06131e', endColorstr='#19180d',GradientType=1 ); /* IE6-9 */

}
.mainpage_back_project{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#06131e+0,19180d+100 */
background: #06131e; /* Old browsers */
background: -moz-linear-gradient(left,  #06131e 0%, #19180d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #06131e 0%,#19180d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #06131e 0%,#19180d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06131e', endColorstr='#19180d',GradientType=1 ); /* IE6-9 */

}
.mainpage_back_alter{position:absolute;z-index:-10;width:100%;height:100%;}
.mainpage_back_alter::after{display:block;content:'';
    position:absolute;width:100%;height:100%;z-index:-100;
background-color: #262127;
background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

/*header*/
header{

    top:0px;left:0px;;padding:0px;position:relative;

}


/*ЛОГО*/
.logosvg{width:210px;height:100%;position:absolute;z-index:100000;bottom:0px; ; left:10px;cursor:pointer;margin-right:30px}
.logosvg object{pointer-events: none;height:100%}


.main_header{
    height:40px;
position:fixed;top:0px;left:0px;
    padding:0px;margin:0px;
width:100%;z-index:11000;
    overflow:visible;

box-shadow:0 0.5px 1px 0px #293141;


background-color: #0c202c;
background-image: url("https://www.transparenttextures.com/patterns/ice-age.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}

/*footer*/
.main_footer{height:160px;;background-color:#000;width: 100%;padding:0px;position:relative;clear:both;z-index:10}
/*aside*/
.aside_user_page{padding:0px;;z-index:90000;position:fixed;min-height:100%;height:auto;top:40px;;width:80px;
               background-color: #2d3947;border-right:1px solid #45454a; transition: left .1s ease-out 0.2s;
         }
.user_ava img{height:85px;width:100%;opacity:0.9}


.aside_user_page div,.aside_user_page nav{padding:0px;}

/*nav_addpic_fon*/
/*****left_header***/

/*svg_filt_menu*/

.home_div{width:40px;position:absolute;left:200px;top:20px;display:block}
.filter_svg_menu_wrap { height:55px;position:relative;;z-index:1000;top:10px;width:100%;}
.header_fon{
z-index:200;
    height:100%;width:100%;;position:absolute;top:-15px;left:0px;;
}
      .filter_svg_menu_wrap_user{position:absolute;top:10px;width: calc(100% - 5px);right:5px;}

.filter_svg_menu{width:100%;height:50px;text-align:center;display:inline-block;position:relative;top:0px;}
.filter_svg_menu>div{padding:0px;width:30px;margin:0px 30px;position:relative;cursor:pointer;display:inline-block;transition: all ease-in 0.2s}

.filter_svg_menu>div:hover{opacity:0.5}
 .svg_icon_wrap{position:absolute;width:100%;left:-15%;background-color:none;height:100%;cursor:pointer;top:0px;z-index:11}

.filt_svg_icon object{float:left;}
.svg_icons_wrap img{margin:0px 30px;position:relative}

/*enter-exit*/
 .enter_exit_btn{;position:absolute;right:2px;top:0px;font-size:1em;z-index:1001;height:inherit;line-height:40px;}

/*svg_filt_hover*/
.hover_wrap{margin-top:100px;position:relative;}
.hover_wrap>div{overflow:visible;height:10px;}

.hover-svg{width:175px;position:absolute;top:-45px;left:-10px;height:125px;visibility:hidden;overflow:visible;z-index:10
}
.hover-svg object{left:-30px;position:relative;width:250px;height:180px;z-index:100;cursor:pointer;top:-20px;}

.opacity_wrap{top:0px;display:block;left:0px;position:absolute;min-height:100%;width:100%;border-radius:8px 8px 0 0;overflow:visible;background-color:#433947;opacity:0.8}
/*filter_location*/
.sort_select_proj_loc{bottom:0px;right:5px;}

/*view category*/



/*slider*/

.slider_fon{pointer-events:none;position:absolute;width:100%;height:100%;left:0px;top:0px;background:url('/images/fon/slider_fon.png');background-repeat:no-repeat;background-size:cover;z-index:20 !important}

.slider_popular{position:fixed;;margin:0px;;z-index:60;right:0px;top:0px;;width:100px;top:20%;
               background-image: url("https://www.transparenttextures.com/patterns/white-texture.png");border-radius:10px 0px 0px 50px;overflow:hidden;background-color:#30292C;}

.slider_events_nav p{margin:0px;text-align:center;}
.end_anim{   -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: top ease;;}
.start_anim{
    transition-duration: 3s;
}

.slider_fix_width{position:relative;white-space: nowrap;width:100%;
                 display:block;left:0px;  letter-spacing: -0.3em;transition-property: top;}

.slider_events_nav{height:30px;color:#EFEBD2;border-radius:4px 4px 0 0;
              }
.slider_content{overflow:hidden;padding:0px;padding-top:5px;;position:relative;z-index:10;height:490px;opacity:0.9;
width:100%;}
.slider_image_wrap{height:calc(100% - 60px)}
.slider_div_user_nick{margin-top:7px;}
.slider_image_wrap img{ width:100%;height:100%;overflow:hidden;z-index:-1;}
.slider_popular_div{text-align:right;cursor:pointer;width:100%;height:150px;margin:5px 0px;display:block;margin:5px 0px;position:relative;
     transition-duration: 0.8s;


                   letter-spacing: normal;word-spacing:10px;box-shadow: 0 0 2px 1px rgba(97, 114, 122, 0.6) inset;}
.silder_div_user_info .row{margin:0px;padding:0px;}
.slider_popular_div>p{padding-right:5px;}
.silder_div_user_project{height:inherit}
.slider_popular .slider_fon{border-radius:0px 0px 0px 20px;overflow:hidden;}
.slider_popular_div:hover{cursor:pointer;opacity:0.7 }




.project_access_rules>div{width:50%;min-width:250px}

body div,div,.main_aside_wrap,.project_div,.img_projects_div {padding:0px;margin:0px;}

.info_link_svg{height:30px;width:50px;padding: 2px 0}


.project_wrap_div{background:url('/images/body.png') repeat;padding:0px;margin:0px;}





/*Главный контейнер*/


/*оболочка главного меню*/
.main_menu {height:40px;padding:0px;}





.main_page_slide{height:350px;margin-top:40px;border:1px solid red;background-color:#fff;border-radius:10px 10px; background-color: #222;}


.breadcrumb {padding:0px;margin:0px;position:absolute;;left:0px;top:65px;right:0px;z-index:1000}
.breadcrumb >ul{padding-left:130px ;;background:none;top:0px}

.breadcrumb > .active{color:#EA9796;font-style:italic;}
.active_text{color:#878787}


.personal_settings{border-top:2px solid #E1E7F4;background-color:#F46464;height:auto;margin-top:40px;padding:0px;}


.left_menu_items{list-style-type: none;margin-top:20px;}
.left_menu_items li{margin:2px 0;padding:2px 0}

.left_menu_items a:hover{text-decoration:none;color:#D3E7ED}

/*левое меню пользователя*/


.myprojects {border-radius:10px;text-align:center;margin:20px 0;color:#fff;background-color:#FF8789;height:30px;cursor:pointer;}
.myprojects:hover{border-bottom:1px solid #fff;}





/*форма авторизаии*/
.auth_form {overflow:hidden;border-left:3px dotted #7795AD;border-right:3px dotted #7795AD;font-weight:700;border-radius:20px;height:400px;background-color:#EDF7ED;margin-top:50px;margin-bottom:250px;}
.auth_form table td{width:45%;margin:10px;}

.body-content{overflow:hidden;}

.project_wrap_div{
    overflow:hidden;
    height:800px;
    background-color:#fff;
}



.color_div {  min-height:900px;
position:relative;
padding:0px;
margin:0px;
    background-color:#faf4e5;
    left:210px;
padding-top:60px;
padding-left:10px;
    border-radius :90px 0 0 0;
    font-size:12px;
    color:#45544B;
    height:auto;



}


.wrap {
    min-height: 100%;
    height: auto;



}




.footer {
    position:relative;

    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    bottom:0px;
}



.modal_main_list_proj{display:none;}



.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.pic_div{

    width:20%;
    float:left;
    border:2px solid black;
}

nav_options_project{

    width:90%;
}

.u_fio{

    border:1px solid #FFF4F5;

}
.close_ava_add_div{cursor:pointer;}

.download_ava_icon{
    font-weight:bolder;
    font-size:1.2em;
    color:white;
    overflow:hidden;
}


 .glyphicon glyphicon-home{font-weight:bolder;

 font-size:1.4em;}

.project_content{height:900px;}

.settings_menu ul{list-style-type:none;padding:10px;margin:0px;}
.settings_menu li{float:left;width:15%;padding:10px;border-radius:5px 5px 0 0}

.settings_menu_li_fon{background-color:#FFECDD}


/*сортировка в главном меню*/

/*катеории при добавление проекта*/



.categ_div{overflow:hidden;white-space: nowrap;;text-align:left;font-size:0.9em;height:30px;text-overflow:ellipsis}

.sort_param div{width:auto;padding:5px;height:25px;margin:15px;}
/*закрывтие спиок атегорий и сортировки*/
.close_main_sort_cat_list{position:absolute;cursor:pointer;}



/*средняя пололса*/


/*див событий*/



/*див пролектов на главной*/








/*убираем отсупы*/




.add_ava{position:relative;left:15px;}
.addit_info{position:relative;left:-15px;}
.publish_proj{position:relative;left:-30px;}
.next_add_project_item,.next_add_project_item_back{background-color:#4E6175;position:relative;cursor:pointer;height:inherit;width:100px;color:#fff;text-align:center;line-height:30px;font-weight:bold;float:right;}
.next_add_project_item_back{margin-right:10px;display:none;}

       .next_add_project_item:hover,.next_add_project_item_back:hover{opacity:0.9}

.additional_project_info .row{margin-top:10px;}
.additional_project_info .row>p{color:#1E1D23;font-weight:bold;}

/*categ_tags*/
.selected_categ_list{height:auto;padding:20px;overflow:visible}
.sel_cat_item{color:#fff;padding:5px;background-color:#54666f;border-radius:3px 0 0 3px;font-size:0.9em}
.sel_cat_item_wrap{text-align: center;margin:5px;white-space:nowrap;height:auto;display:inlne-block;line-height:30px;}

.add_selected_categ{ padding:10px;background-color:#fff;
border-radius:4px;min-height:60px;height:auto;border:1px solid #CCCCCC; word-break: normal;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;}
.add_selected_categ:hover{cursor:text;}


.remove_tag{z-index:10;cursor:pointer;color:#eff7fe;background-color:#737E89;padding:5px;font-size:0.9em;border-left:1px solid grey;position:relative;right:0px;top:0px;border-radius:0 3px 3px 0}
.remove_tag:hover{background-color:#59646C}
.bootstrap-tagsinput .remove_tag{background-color: transparent;;border-left:none;padding:0;padding-left:9px;font-size:1em;}

.preshow_proj{color:#fff;border-left:1px dotted grey;border-right:1px dotted grey;height:50px;text-align:center;}

#submit_project,#submit_publish{color:#fff;text-align:center;height:50px;}

#submit_publish{border-left:1px dotted grey;border-right:1px dotted grey; }

.saveproject_div .glyphicon{font-size:1.1em;font-weight:bold}
#submit_publish .glyphicon-ok {color:#D65957;}
#submit_publish  .glyphicon-eye-open{color:#F74040}
#submit_project .glyphicon-floppy-disk{color:#32935E;}
.saveproject_div{overflow:hidden;display:none;position:absolute;;right:0px;bottom:-2px;background-color:#2c2c30;width:100%;height:34px;padding:3px 0px;}
.saveproject_div div:hover{background-color:#424042 ;cursor:pointer;}
.saveproject_div>div{float:left;position:relative;width:33.3%;height:inherit;font-size:0.9em}
/*tags*/
.tag_div .tag{font-size:1em;margin:5px !important;display:inline-block}




.user_login span,.user_logout span, .site_info span{font-size:1.1em;font-weight:bold;text-align:center;width:90%;margin-top:5%;}
.ava_wrap{position:absolute;top:0px;left:0px;padding:0px;z-index:10;width:90px;}

.user_name{height:50px;position:relative;z-index:100;color:#E0E4E5;}
.user_name p{padding-top:10px;}
.googlemap_wrap{display:none;}
.main_right_menu {height:auto;min-height:900px;position:fixed;}



/*категория на главной*/
.categ_title{background-color:#E8553E;color:#fff;font-size:1.1em;text-align:center}
.categ_div_main {min-height:150px;width:150px;float:left;text-align:center;}
.categ_div_main p{padding:2px;margin:2px;}
.categ_div_main p:not(.categ_title):hover{border-bottom:1px dotted #EA5656;cursor:pointer;padding:2px;padding-bottom:1px}



/*диа профиля на главной*/


#chek_if_user_is_not_guest{display:none;}




/*название пунктов*/
.a_menu {
    text-align:center;


cursor:pointer;
margin-right:10px;
}



.user_pers_login{position:relative;right:-5px;}

.user_pers_menu span{margin-left:25px;cursor:pointer;}
.user_popup_menu_icon{cursor:pointer;font-size:1.2em;color:#F9E1E0}
/*popup menu*/
.user_pers_menu .glyphicon-list{margin-left:50px;cursor:pointer}

.popup_uprofile{color:#40404C}
.user_pers_page_menu .glyphicon{margin-right:10px;line-height:26px;border:1px solid grey;background:#fff;border-radius:50%;width:30px;height:30px;position:relative;text-align:center;}
.user_pers_page_menu {padding:0px;}
.user_pers_page_menu div{position:relative;left:-15px;margin:10px 0;padding:0px;}

/*uprofile*/

.user_pers_page_menu div:last-child,.user_pers_popup_menu div:last-child{position:absolute;bottom:-5px;margin:0px}

/*us_menu*/
.user_pers_page_menu {height:170px;border-left:1px solid grey;position:absolute;z-index:5;left:55px;}


.user_popup_menu_wrap{;border-left:1px dotted grey;color:#A9C9C2;height:50px;padding-top:5px;}
.user_name{padding-left:25%;color:#0C1F28;font-size:14pt;font-weight:bold;}

#proj_colorpicker{position:absolute;;right:5px;z-index:110;width:100%;}
.project_nav_fixed{position:fixed;top:0px;border:1px solid grey;}
.pickercolor_wrap{height:auto;position:relative;overflow:visible;display:none}

.general_settings{min-height:450px;padding-bottom:60px;margin-top:70px;;border-radius:8px;width:50%;position:relative;margin:0 auto}
.general_settings p{position:relative}
 .project_files{padding:0px;}
 .project_files>div{margin:10px 0;}
 .general_settings select, .general_settings input[type='text'],.general_settings input[type='password']{
     color:#333;width:150px;
 }

  .general_settings label{cursor:pointer;}
  .security_settings label{width:200px}
  .general_settings option, .general_settings input{
     padding:4px;padding-left:8px;
 }

.clear_checkboxes{background-color:grey;padding:5px;cursor:pointer;display:inline-block}
.main_settings_menu{margin:0 auto 60px auto;width:330px;;min-width:330px;font-weight:bold;font-size:1.1em;overflow:hidden}
.main_settings_menu div{cursor:pointer;margin:0px 15px;float:left;position:relative;color:grey;}

.main_settings_menu div[check_it ='1']{color:#DD8685}
/*show project*/

.project_detail img{width:100%;}
/*show_proj-style*/
.project_detail_wrap{display:none;position:absolute;top:0px;left:0px;overflow:auto;z-index:999999}
.project_detail{background-color:#fff;padding:0px;padding-bottom:20px;color:#F7F7F7;z-index:300000;width:100%;left:0;right:0px;max-width:1100px;margin:auto;}

.project_detail header{height:70px}
.project_detail_show {padding:0px;background-color:#fff;overflow:hidden;color:#000;}
.project_user_info{border-radius:9px;background-color:#3f4347;box-shadow: inset 0 0 1px 0 #EFEFEF;padding:0px 5px;text-align:center;;;z-index:990000;width:150px;min-height:250px;
                  position:fixed;bottom:15px;right:20px;
               }
 .project_user_info ul{text-align:left;}
.project_user_info>div{margin:10px 0px}
.change_user_ava{display:none;position:absolute;height:300px;z-index:1000;top:150px;background-color:#CDD3D3}
.user_ava_div{width:250px;height:190px;border:1px solid grey;}
.user_ava_div img{padding:0px;}


.change_user_ava input[type ='file']{position:absolute;width:100%;opacity:0;z-index:10}
.save_user_ava{height:40px;background-color:grey;text-align:right;margin-top:20px;}
.load_user_ava{height:40px;background-color:grey;}
.save_general_settings{cursor:pointer;text-align:right;z-index:100}

/*меню коллекциий*/


/*filter_info*/
.filter_info_wrap{position:relative;top:0px;left:0px;width:100%;height:0px;right:0px;}
/*filter_conent*/

.filter_content{position:fixed;top:68px;z-index:200000;}

.filter_rezult{z-index:1000;padding-left:10px;top:0px;position:relative;overflow:hidden;}


.add_project_category_list,.filter_content>div{background-color:#42444d;}


.filter_content h5{;font-weight:bold;position:relative;top:0px;margin:0px 0px 5px;padding:5px;border-bottom:1px solid #7b6d7a}
.add_project_category_list,.project_category_main{width:95%;max-width:600px;margin:auto;display:none;;;padding:0px;height:auto;left:0;right:0;;;
                                                  border-radius:8px;z-index:1000000;position:absolute;

           }

.add_project_category_list{position:fixed;}

.project_menu_wrap .glyphicon{color:#565565;font-size:1.0em;}
.filter_rezult .parent_up2_close, body .parentclose_style{top:-5px;right:-14px;font-size:1em ;position:absolute;z-index:100000;font-weight:bold;cursor:pointer;}
body .sort_map_wrap .parentclose_style {color:#c3c3c3}
.filter_rezult .parent_up2_close, body .parentclose_style {color:#2d363f;}
.proj_sort_menu.parent_up2_close{color:inherit}
.parentclose_bottom{bottom:-15px;right:-15px;font-size:1.2em;position:absolute;z-index:100000}
.categ_list{overflow:hidden;width:calc(100% + 4px)}
.categ_list>div{width:120px;float:left;cursor:pointer;padding:0px;height:60px;;color:#fff;font-weight:bold;;text-align:center; position:relative;}


.main_aside_wrap img{padding:0px;margin:0px;}
.main_aside_wrap
.main_aside_wrap aside a{color:#544646;font-weight:bold;font-size:1.1em}

 .proj_status{height:25px;background-color:#F7F4F4;position:absolute;bottom:0px;padding:0px;margin:0px;}


 .project_author_info{height:25px;padding-left:10px;}
.proj_name{height:30px;margin-bottom:5px;border-bottom:1px dotted #F2EFEF;padding-left:10px;font-weight:700;}


/*projects*/

.project_div,.project_div div{margin:0px;}




.img_projects_div{height:180px;cursor:pointer;transition:all ease-in 0.3s}
.img_projects_div img{padding:0px;;height:100%;width:100%;}






.dark_bck{background:#000 !important}



.parent_up2_close:hover,.parentclose:hover{cursor:pointer;}
.error_div{display:none;
           font-weight:bold;
           height:auto;

}

.userpage_projects  .project_div,.project_div,.user_project_div{float:left;position:relative;margin:10px ;padding:0px;box-shadow: 0px 0px 2px #a89f9f;background-color:#fefefe;border-radius:4px;
               color:#6e6770;}


.project_div,.user_project_div{;width:210px; height:280px;}
.userpage_projects  .project_div{;width:110px; height:180px;}
.userpage_projects  .img_projects_div {height:55%}
.userpage_projects  #project_list {width:100%;max-width:520px}

.project_user_wrap {
padding:0px;
position:relative;
    width:calc(100% - 160px);
    margin:100px auto;


}

.user_profile_projects,#project_list{width:1400px ;margin:0 auto;;position:relative;
                                     min-height:600px;text-align:center;margin-bottom:20px;padding-top:15px

}

.project_lists{margin:0 auto;position:relative;}

.project_lists>div{margin:5px;}

.project_lists div img{padding:0px;margin:0px;}

.error_brd{border:1px solid red;}
.sort_wrap div{font-weight:bold;text-align:center;;overflow:hidden;word-break:break-all}


/*time on header*/



/*map_sort*/
.sort_map{height:200px;margin: 20px 0px}
.sort_map_wrap{color:#6e6770;
   width:350px; position:absolute;left:50%;margin-left:-175px;
}

.project_date_check,.sort_map_wrap,.project_sort_check{display:none;}
.sort_map_wrap input{padding:10px;}

/*calendar*/
.project_date_check,.project_sort_check{width:200px;position:absolute;left:50%;margin-left:-100px;}
.proj_sort_menu {list-style-type:none;padding:0px;}
.proj_sort_menu li{padding:10px 0;text-align:center;cursor:pointer;font-weight:bold}

.hasDatepicker{position:absolute;bottom:-200px;width:300px;height:200px;z-index:100000;display:none;height:auto;left:50%;margin-left:-150px;top:60px;}
.hasDatepicker>div{padding-top:30px;}
.hasDatepicker .ui-datepicker-inline{width:100%}
.close_loc_sort,.close_date_sort{cursor:pointer}
.calendar_data{display:none;}

.project_sort_info {left:50%;display:none;text-align:center;float:left;height:50px;position:relative;}

.show-inline{display:inline-block !important;}
.project_sort_info_click{position:absolute;}

/*выводв занение сортровки*/

/*-----------general sort view div---*/


.data_on_opacity{position:relative;z-index:10000}
.header_dop_nav_filter_wrap>div,.project_sort_info>div{z-index:100000;position:relative;display:none;padding:0px;text-align:center;width:160px;padding:5px;margin:0px 3px;height:45px;overflow:hidden;float:left;}
.header_dop_nav_filter_wrap>div{right:0px;margin:10px 0 10px -80px;left:50%;float:none}
.project_sort_info>div{right:50%;}
.sort_wrap{position:relative;padding:0px;height:100%}
.proj_likes_views {position:relative;height:30px;padding:0px;}
.proj_likes_views >div{height:inherit;position:relative;bottom:5px;}

.proj_likes{text-align:left;}
.proj_view{text-align:right}

.img_projects_div:hover{opacity:0.8;cursor:pointer;}








 .events{;position:absolute;padding:0px;width:90px;min-height:130px;bottom:150px;right:0px;overflow:hidden;z-index:1000;background-color:#433947;;border-radius:5px 0px 0px 5px ;display:none;}



.addfriend_event,.message_count{text-align:left;padding-top:10%;}
.show_event_wrap{height:90px;overflow:hidden;margin:10px 0px;;cursor:pointer;}

.event_data{display:none;position:relative;top:40px;left:5px;width:120px;min-height:120px;border-radius:8px;height:auto}
.show_event_data{padding:10px;;position:relative;min-height:80px;height:auto;z-index:10}
.event_data_icon{width:60px;height:70px;color:#fff;position:relative;padding:0px;font-size:1.2em;cursor:pointer;background-color:#433947;text-align:center;padding-top:10px;border-radius:5px 0px 0px 5px;}
.event_data_icon span{z-index:1000;display:block}
.event_data_icon p{position:relative;}
.event_data_wrap{position:fixed;bottom:50px;right:0px;;z-index:100000;}

/*event mess div*/


.submit_addfriend {width:100%;background-color:#E0E0E0;z-index:10100;text-align:center;position:relative;}

.submit_addfriend span {color:grey;font-size:1.2em;width:45%;cursor:pointer;}
.correct_submit_info{position:absolute;height:80px;display:none;right:45%;top:20%}
.correct_submit_info_text{position:relative;z-index:10000;text-align:center;margin-top:25px;}

.message_input_area{width:96%;height:100px;min-height:100px;margin:2%;position:relative}

.message_header{height:50px;background-color:#35393f;position:relative;}
.close_message{margin:0px;background-color:#35393f;color:#fff}
.message_friend_name{padding:10px;background-color:#4e6175;color:#fff;border-radius:5px;min-width:20px;position:relative;bottom:0px;display:inline-block;margin-left:10px;}

.close_window{text-align:right;padding-right:15px;position:relative;cursor:pointer}


.show_load_foto_area{background-color:grey;opacity:0.4;height:150px;width:200px;margin-left:25%;}
.open_load_image_area {max-width:500px;height:350px;width:95%;padding:10px;display:none;position:fixed;left:0;right:0;margin:0 auto;;background-image:url('/images/fon/shattered.png');background-color:#000;top:70px;z-index:1000001}



/* Translucent background image */



.cropit-image-preview {
    border: 1px solid #686868;
    height: 180px;
    width: 210px;
        margin:0 auto;
}
.cropit-image-project{

    border: 1px solid #eee;
    height: 180px;
    width: 200px;
    margin:0 auto;
}

.cropit-image-background {
  opacity: .2;
}
.cropit-image-project:hover,.cropit-image-preview:hover{cursor:pointer;}
/*
 * If the slider or anything else is covered by the background image,
 * use relative or absolute position on it
 */
/* Show load indicator when image is being loaded */
.cropit-image-preview.cropit-image-loading .spinner {
  opacity: 1;
}

/* Show move cursor when image has been loaded */
.cropit-image-preview.cropit-image-loaded {
  cursor: move;
}

/* Gray out zoom slider when the image cannot be zoomed */
.cropit-image-zoom-input[disabled] {
  opacity: .2;
}

/* Hide default file input button if you want to use a custom button */
input.cropit-image-input {
  visibility: hidden;
}


/* The following styles are only relevant to when background image is enabled */

/* Translucent background image */
.cropit-image-background {
  opacity: .1;
}

/* Style the background image differently when preview area is hovered */
.cropit-image-background.cropit-preview-hovered {
  opacity: .2;
}

/*
 * If the slider or anything else is covered by the background image,
 * use non-static position on it
 */
input.cropit-image-zoom-input {
  position: relative;
border:none !important
}

/* Limit the background image by adding overflow: hidden */
#image-cropper {
  overflow: hidden;

}

.additional_nav a,.user_menu a{display:block;width:100%;height:100%;position:absolute;z-index:10000;height:100%;top:0px;}
.user_projects span{font-size:1.4em;width:90%;}
 .user_menu .left_menu_div{text-align:center;width:40%;width:30px;;overflow:visible;transform:scale(1.1)}
.user_menu{margin-top:10px;overflow:visible;visibility:hidden}
.user_menu_viible{visibility:visible !important}
.user_menu>div{;margin:11px 0px;padding:4px 0px;;position:relative;height:65px;}
.header_user_menu{text-align:center;}
header_user_menu>div{display:inline-block}




.auth_error{border:1px solid red;margin-top:30%;background-color:grey;display:none;}
.error_access{border:1px solid red;margin-top:10%;background-color:grey}
.message_block{cursor:pointer;}
.login_error{position:absolute;top:2px;}
.login_error_input{border:1px solid #F24156;background-color:#DDD0D0;color:#000;};
.success_reg{display:none;position:absolute;top:35%;left:40%;z-index:10000}
.auth_error,.login_error{right:0px;top:-40px;background-color:#ea5656;z-index:100000;position:absolute;
         padding-top:7px;text-align:center;;padding-left:10px;display:none;color:#fff;overflow:visible;width:70%;left:15%;height:50px;}
.auth_error:after,.login_error:after{
    content:'!';top:5px;left:5px;padding:0px;
    display:inline-block;position:absolute;height:20px;width:20px;line-height:20px;
    color:#ea5656;font-weight:bold;font-size:1.1em;border-radius:50%;background-color:#fff;

}
.auth_error .parentclose_style{position:relative;width:25px;height:inherit;float:right;right:5px;top:5px;}
.user_login{
    white-space: nowrap;overflow:hidden;position:relative;float:left;width:auto;max-width:50%;padding-right:5px}
.select_collection{font-size:24px;font-weight:bold;color:#f4e8d7}







.txt_dotted{text-overflow: ellipsis;}
/*messages*/


.message_wrap {margin:4px 0px ;border-bottom:1px solid #DCEBEF}

/*message box*/
.message_box{margin:0 auto; top:50px;width:40%;padding:0px;position:absolute;display:none;min-height:400px;min-width:300px;background-color:#fff;border:1px solid #F9F9F9;color:#474141;z-index:1000000}

.header_user_menu .user_ava{background-color: #0d1117;
background-image: url("https://www.transparenttextures.com/patterns/white-linen.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

padding:10px 0}

.message_body_wrap {
    padding:0px;
overflow:hidden;

    background-color:#fff;
}
.message_body{   width:calc(100% + 30px);;position:relative;overflow:auto;  height: 480px;padding:0px; }
.message_block_nick{overflow:hidden;text-overflow:ellipsis;white-space: nowrap;padding:0px;}
.message_text{overflow:hidden;height:100%;background-color:#fff;positio:relative;padding-left:30px;padding-top:10px;}
.message_text:hover{background-color:#FCFCFC}
.message_list_div:hover{background-color:#F4F5F7;opacity:0.9;z-index:100}

.message_list_div{color:#474141;;margin:6px 0px;border:1px solid #EDEDED;width:calc(100% - 20px);padding:0px;height:95px;background-color:#F9FAFC;cursor:pointer;}
.message_wrap:hover{background-color:#DDD7D7;cursor:pointer;}

.message_owner,.message_datetime{font-size:0.8em;width:70px;position:relative;text-align:center;;padding:0px;height:100%;margin:0px;}
.message_owner{float:left;}
.message_datetime{float:right}
.send_message{cursor:pointer;text-align:right;margin-right:20px;font-size:1.1em;font-weight:bold;margin-top:20px;}


.map_interes_wrap{padding:15px;margin-bottom:40px;}
.input-group-addon {;color:#fff;width:30px;background-color:#717171}
.form-control{color:#fff;background-color:#6e6e6e;border:1px solid #c5dae6}
.form-control:focus{box-shadow: inset 0 1px 1px #0000001a, 0 0 8px #fdfdff99;border:1px solid #fff}
.label-info{background-color:#75b0b3}

.likes_heart:hover{cursor:pointer;}
/*.message_peoples_list{position:relative;padding:20px;overflow:auto;width:calc(100% + 20px);;height:500px;}*/
/*.news_wrap,.message_peoples_list_wrap,.general_settings,#friendlist,#bookmarks{overflow:hidden;position:relative;;width:35%;border:1px solid #eef0f3;min-width:280px;padding:0px;}*/

/*add_project*/
.add_project_div {background-color:#fff;height:auto;width:calc(80% - 200px);margin-left:250px;}
.user_info_settings{overflow:hidden;position:relative;width:60%;min-width:270px;margin:0 auto  ;padding-top:40px;border:1px solid grey;border-radius:4px;}


/*project_div*/

/*map*/

/*input*/


/*************project_add_style********************/
.current_proj_title{padding:10px;clear:both;}
.project_title_desc{position:relative;float:left;width:100%;}
.project_title_desc>div{margin:0px 0px;padding:0px;margin-bottom:35px;}
.project_canvas {padding-bottom:20px;color:#6e6770;min-height:inherit}
.edit_projectcontent_wrap,.add_project_wrap{max-width:700px;width:95%;min-height:300px;position:relative;background:#fff;background-repeat:repeat-y;padding:0px;margin:30px auto 60px auto;}
.edit_projectcontent_wrap{float:left}
.add_project_wrap>div{padding:0px;}
.add_project_wrap:after{content: "";
display: table;
clear: both;}
.project_main_info{padding-bottom:20px;position:relative;overflow:hidden;min-height:250px;}
.project_main_info>div{padding:5px;paading-left:10px}
.project_nav_wrap{background-color:#DEE3E8;border-bottom:1px solid #754242;height:30px;background-color:#3F4244;clear:both;}
.project_ava{  width:25%;min-width:150px; overflow:hidden;float:left;position:relative;text-align:center;}

/*project nav*/
.project_nav {width:auto;position:relative;overflow:hidden;float:left;height:100%;}

.project_nav>div{position:relative;float:left;height:inherit;width:80px;}

.project_nav_svg object {position:absolute;top:0;left:0;overflow:visible;width:100%;height:inherit}
.project_nav_svg{overflow:visible;position:relative;padding:0px;}

.project_canvas>div{display:none;}
.close_add_proj{;color:#877c7c;border-radius:2px;cursor:pointer;position:absolute;top:-15px;right:-15px;padding:10px;}
#main_content{

background-color:#fbfbfb;;min-height: 400px;position:relative;height:auto;

    padding:20px 0;}
#main_content:after{
    display:block;content:'';
    width:1px;clear:both;
}
/*for fixed project_nav*/

.fixedContainer {
    display:block;

    left:50%;
    position: fixed;
    top: 0px;
    z-index:100000;

}
.proj_embed_video,.proj_foto,.proj_text_area{background:none !important; border:none !important;}
.sort_touch{
    height:30px;
    background-color:#474547;
    cursor:pointer;
}
.mybtn{cursor:pointer;display:inline-block;padding:5px;text-align:center;background-color:#7294AD;color:#fff;line-height:30px;position:relative;;border:none;border-radius:3px;height:40px;min-width:60px;;right:4px;bottom:4px;

}
.project_user_avatar>img:hover{opacity:0.8;cursor:pointer;}
.mybtn:hover{background-color:#CE7F8A;}
.mybtn_load{left:0px;position:absolute;padding:10px;background-color:#4e6175;color:#fff;text-align:center;cursor:pointer;border-radius:5px;width:90%;bottom:0px;}
.mybtn_close{padding:10px;background-color:#918E91;color:#fff;text-align:center;cursor:pointer;border-radius:5px;width:80px;}
.sort_buttons{;text-align:center;width:100%;position:relative;}
.sort_buttons>p{;margin-top:30px;display:inline-block;cursor:pointer;width:33.3%;}


/*сортировка проектов*/





.main_page_layer .top_add_project_menu{text-align:center;padding:0px;}
.project_menu_wrap>div{transition:all 300ms ease;cursor:pointer;height:inherit;float:left;width:20%;color:#425368;border-right:1px solid #DDDDDD;text-align:center;padding:5px 7px 0px 7px !important;position:relative;}
.project_menu_wrap>div:hover{cursor:pointer;background-color:#f9f9f9;}

.project_menu_wrap>div input{cursor:none}


.ui-sortable-handle{float:none !important;}
.proj_foto img{padding:0px;}
#main_content>div{margin:0px auto 10px auto;position:relative;;padding:0px;width:90%;}

.project_menu_wrap{height:inherit;width:100%;border-bottom:1px solid #afcfc0}


.add_project_content{width:100%;;position:relative;}


.additional_project_info>div{padding:0px;margin:15px 0px}
.tag_div{padding:0px;}
.tag_div .bootstrap-tagsinput{min-height:60px;height:auto}
.additional_project_settings label{margin:0px 10px;width:80px}
.additional_project_settings h3{margin-bottom:30px;}
.additional_project_settings .show_project_rule{margin-bottom:30px;}

.addproject_settings {padding:25px;float:left;}
.additional_project_settings .secure_settings{border:1px solid #EAEAEA;padding:25px;text-align:center;right:50px;top:50px;border-radius:5px;float:left;}
.age_project_rule {}
.close_curent_project{text-align:right;cursor:pointer;right:7px;position:relative;top:10px;}

.project_user_avatar img{width:80px;height:80px;border-radius:50%}

/*graohs*/
.chart_pie_div{border:2px solid #B2D3AD;margin-left:300px;width:500px;padding:20px;}
.chart_pie_div div{background-color:none;}
#main_statistic_wrap{overflow:hidden;min-height:400px;position:relative}
#main_statistic_wrap>div{padding:20px ;margin:0 2.5%;width:90%;visibility:hidden;height:400px}
#main_statistic_wrap .show{visibility:visible;position:absolute;;top:0px;}
.general_settings h4{margin-top:50px}
.zindex100{z-index:100;position:relative;}
.zindex200{z-index:200;position:relative;}

/*for btn*/
.btn_bottom_right{position:absolute;bottom:10px;right:5px}
.cancel_user_info{right:90px;background-color:#676d7a;}
/*user proj wrap*/
.user_project_section{margin-top:60px;}

.a_block{display:block;position:absolute;z-index:1000;top:0px;left:0px;width:100%;height:100%}
/*textedtor*/

.text_editor{height:40px;border:1px solid #ccc;display:none;width:100%;margin:0px;position:relative;top:0px;background-color:#fff;z-index:10000;border-radius:4px 4px 0p 0px}
.text_editor>div{float:left;width:40px;cursor:pointer;padding-top:10px;margin-left:30px;text-align:center;height:100%}

/*editor iframe*/
.proj_text_area>textarea{height:100px;width:100%}


.iframe_texteditor{display:inline;width:100%;height:100%;position:relative;z-index:10000;border:1px solid grey;background-color:#fff;overflow:hidden!important;display:inline}
.w_h_100{width:100%;height:100%}
 .active_editorstyle{border-radius:4px;border:2px solid grey;box-shadow:inset 0 0 10px  rgba(0,0,0,0.5)}

 #iframe_body{}

 .project_main_wrap{
     padding-top:100px;
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#041214+0,4f2a3b+100 */
background: rgb(4,18,20); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(4,18,20,1) 0%, rgba(79,42,59,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(4,18,20,1) 0%,rgba(79,42,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(4,18,20,1) 0%,rgba(79,42,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#041214', endColorstr='#4f2a3b',GradientType=0 ); /* IE6-9 */


 }
 .status_project{position:absolute;width:250px;height:90px;background-color:#fff;color:#000;text-align:center;left:45%;top:35%;border-radius:8px;display:none;line-height:90px;font-size:1.1em}
.project_ava img {cursor:pointer;}
a.home{display:block;position:absolute;left:0px;top:0px;width:100%;height:100%;}
.like_div_error{position:absolute;top:-40px;left:-10px;z-index:10;background-color:grey;padding:8px;border-radius:5px;color: #fff;text-align:center;}



#hidden_user_id{display:none;position:relative;left:4000px;}

.message_owner img{height:75%;}

.noview_mess_back{background-color:grey !important;position:absolute;opacity:0.2;z-index:10000;width:100%;height:100%;top:0px;left:0px;}
.submit_friend_request{position:absolute;top:0px;left:0px;background-color:#fff;min-width:70px;min-height:70px;padding:10px;border:1px solid #000;color:#444444;z-index:999999;}
.submit_friend_request div{margin:10px 20px;padding:5px;position:relative;border-radius:5px;background-color:#fff;color:#000;cursor:pointer;display:inline-block}

/*friends*/

#friendlist>div{padding:0px;display:none}
#request_friend_list{margin-top:50px;}


.color_request_nav{color:#fff;font-weight:bold;padding:0px;text-align:center;}
.color_request_nav p{padding-top:30px;height:inherit;}
.user_div_wrap>div{width:100px;display:inline-block;height:inherit;}
.user_div div{height:calc(100% - 40px)}
.user_div img{height:100%}

input[type='search']{width:80%;border-radius:6px;margin:4px 5px;color:#6e6770;height:30px;}

.friend_div:hover{cursor:pointer;background-color:#F6F6F6;}
.friend_div{padding:5px;}

.friend_accept_div_wrap img{height:90px;border-radius:50%}




.friend_div_wrap{width:200px;height:90px;position:relative;float:left;margin:10px 0px;border-right:1px solid #5B5B5B;border-bottom:1px solid #5B5B5B;}
.accept_friend,.cancel_friend{font-weight:bold;width:50%;cursor:pointer;}
.accept_friend{color:green;text-align:left;}
.cancel_friend{color:red;text-align:right;}
.accept_friend_wrap> p{margin: 20px 0px;cursor:pointer;}






.user_div{position:relative;bottom:3px;cursor:pointer;padding:0px;height:inherit;overflow:hidden}
.user_div:hover{background-color:#F9F9F9}

.user_div>p{padding:5px;}

/*userpage-*/

#user_page{padding:0px;position:relative;;box-shadow:0 0 1px grey;;margin:10px auto 60px auto;float:none;background-color:#fff;;min-height:500px;width:98%;max-width:600px}
.profile_content_wrap{color:#fff;background-color:#302f30}





.friend_actions{padding:5px;height:100px;position:relative;;text-align:center;color:#f7f7f7}
.friend_actions>p{cursor:pointer;}
.user_profile_projects_wrap{padding:0px;}

.user_profile_all_informaton_wrap>div:not(.user_profile_projects_wrap){word-wrap: break-word;
              top:0px;width:30%;margin-left:5%;;min-width:220px;min-height:270px;position:relative;margin:5px;
              display:block;float:left;background-color:#393939;padding:10px;border: 1px solid #181515}
.user_profile_all_informaton_wrap .location{min-width:250px;}
.user_profile_all_informaton_wrap{width:100%;margin:0 auto;padding:20px 0;;position:relative;max-width:460px;overflow:hidden}



#user_page H4{border-bottom:1px solid #e7d4e1;max-width:220px;margin-bottom:10px;
}

.user_profile_ava img{width:100%;;border-radius:50%;height:100%;}

.user_profile_fon{background:url("/images/fon/hexellence.png") repeat scroll ;
background-color: #080812;
}

.user_profile_header{;padding:10px;width:100%;position:relative;


/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}

.interests >span{padding:10px;border-radius:5px;background-color:#F26D6D;color:#f7f7f7;font-weight:bold;display:inline-block;margin:5px 10px;}
.active_proj{color:#63B561}
.no_active_proj{color:#c93636}
.project_status{height:20px;width:100%;position:absolute;bottom:2px;padding:0px;}
.err_project_sort{font-weight:600;text-align:center;color:#9e6092}
.error_add_project{text-align:center;
    position:absolute;opacity:0;right:40px;top:80px;transition-property: opacity;
transition-duration: 0.5s;
transition-delay: 0s;
transition-timing-function: linear;
width:100px;padding:10px;color:#fff;background-color:grey;z-index:1000000
}




.project_header{;padding-left:5px;;font-weight:bold;font-style:italic;margin:0px;

background-color: #51545c;height:40px;


}
.project_header>div{padding:0px;}
.project_name h3{text-overflow:ellipsis;display:block; white-space: nowrap;max-width:85%;overflow:hidden;margin:5px 0}
.addfriend_mess_wrap{padding:20px 0px;margin:0 auto 20px auto;text-align:center;}
.addfriend_mess_wrap span{font-weight:bold;cursor:pointer;color:#f7f7f7;margin:0px 20px;
display:inline-block}


/*animation fo uerpage*/

@keyframes shadow {
from {
  text-shadow: 0 0 3px #fff
}
50% {
  text-shadow: 0 0 40px #fff;
}
to {
  text-shadow: 0 0 3px #fff;
}
}





.project_user_info li{list-style-type:none}
.categ_item{overflow:hidden;margin:6px 0px;}
.categ_item_backg{border-radius:2px;background-color:#4e565a;color:#fff;font-weight:500;padding:4px;line-height:25px;}
.project_category_info_wrap{width:100%;overflow:hidden;}
.project_category_info {overflow:auto;text-overflow: ellipsis;margin-top:15px;max-height:86px;width:calc(100% + 15px);padding-right:5px}
.project_category_info ul{text-align:left;padding:0px;}
.additional_nav{width:80px;;height:30px;background-color:#262222;position:fixed;bottom:0px;padding-top:12px !important;cursor:pointer;}
.hidden_aside_divs{overflow:hidden;transition-property:width;transition-duration:1s;width:0;transition-timing-function:ease;position:absolute;left:80px;background-color:#262222;height:inherit;bottom:0px;z-index:100}
.aside_divs{display:inline-block;overflow:visible;height:inherit;}
.aside_divs>div{width:80px;margin: 0 10px;display:inline-block;text-align:center;}
.aside_divs>div>div{width:35px;display:inline-block;}
.glyphicon-menu-hamburger{font-weight:bold;color:#fff;font-size:1.2em;}
.progress_files_wrap{

    width:100%;height:60px;
    margin:20px 0px;clear:both;

}
.progress_wrap{height:20px;;width:300px;;overflow:hidden;;border:2px solid grey;position:relative;top:20px;}

.file_info{float:right;width:130px;height:inherit;background-color:#82607C;color:#fff;text-align:center;line-height:60px;text-overflow:ellipsis}
.file_progress{background-color:#68B77C;height:inherit;width:0px;}
.progress_bar_root{width:800px;left:50%;margin-left:-200px;top:20%;position:fixed;z-index:100000000;display:none; background-image: url("/images/fon/wine-cork.png");min-height:400px;
    background-repeat: repeat;
    background-color:#000; padding:30px;}
.file_error{background-color:#DD1C36 !important}

.categ_wrap{position:relative;top:38%;transition-property: color;transition-duration: 0.5s;}

.pac-container{z-index:10000000!important}
.btn_load_wrap{height:20px}
.open_load_image_area .mybtn{bottom:5px;right:5px;;position:absolute;}
.cropit-image-background-container{left:59px !important;}

.fileloader_file_name{height:50px;width:200px;padding:8px 10px;border-radius:2px;text-align:left;text-overflow:ellipsis;background-color:red;color:#fff;float:right;
}
.fileloader_info{;max-height:96%;width:98%;max-width:400px;height:300px;position:fixed;top:10px;left:0px;right:0px;margin:0 auto;;z-index:1000000000;display:none;}
.fileloader_file_name{background-color:grey !important;}
.add_project_comment{height:100px;color:#333;padding:0px;margin:70px 0px;}
.add_project_comment textarea{height:100%;width:100%;}
.submit_comm{float:right;margin-top:10px;right:0px}
.users_project_comments{margin:40px 0px;padding:0px;padding:15px;}
.users_project_comments>div{margin:0px;background-color:#fff;width:100%;padding:10px;height:130px;overflow:auto;color:#333;border-bottom:1px solid #d4d2d2;}
.comment_wrap>div{height:100%;padding:5px;padding-top:10px;word-wrap:break-word;}
.comment_wrap img{max-height:80px;max-width:80px;width:100%;height:100%;border-radius:50%;opacity:0.9}
.userpage_foto{width:200px;height:200px;margin:0 auto;}

.user_profile_ava {width:170px; height:170px;text-align:center;margin:0 auto;}

.user_profile_ava img{box-shadow: 0 0px 3px #fff;cursor:pointer;}
.close_categ_list{color:#4C4848;}
.cropit-image-background{left:0px;}
.user_location_div{position:absolute;left:0;width:100%;padding:20px;background-color:#000}
.friend_info_btn,.user_info_btn{right:0px;height:150px;background-color:#381E2F;}

.aside_btn_wrap{left:10px;cursor:pointer;;position:fixed;width:12px;z-index:90000;font-size:20px;color:#ededed;line-height:40px;transition: color 0.3s ease-in;display:none}
.aside_btn_wrap:hover{color:#ffb4cc;}


/*    .aside_btn_wrap:hover{background-color: #7caa80;}           */
.friend_info_btn,.user_info_btn{cursor:pointer;;position:fixed;width:40px;height:40px;text-align:center;right:0px;bottom:5px;background-color:#4e6175;border:2px solid #C1BABA;z-index:1000000;border-radius:50%;}

.friend_info_btn>span,.user_info_btn>span{height:100%;left:0px;position:absolute;line-height:35px;;width:100%;font-size:11px}


.save_categ{bottom:-5px;position:relative;float:right}
.back_href{font-weight:bold;}
.slider_popular h6{text-align:center;}



/*.user_menu>div:hover:not(.user_menu_div_click){
    background-image: linear-gradient(to top, #35393f,#4D5259);
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(0, 0, 0, 0.15), 0 -1px 0 0 rgba(0, 0, 0, 0.05);
 cursor:pointer;
transition:    margin 0.2s ease-in;
    margin:0px 10px;
 }*/

 *

.user_menu>div:not(.user_menu_div_click):after{content:'';
    display:block;
    width:80%;
     left: 10%;
    height:100%;
    transition: opacity 0.1s ease-in;
     box-shadow: 0 1px 1px 0 rgb(26, 23, 23), 0 1px 0 0 rgba(63, 68, 81, 0.6), 0 1px 0 0 rgba(82, 92, 113, 0.44);
       position:absolute;
 cursor:pointer;
opacity:0;
 border-radius: 6px;
 background-image:linear-gradient(to top, #475660,#647386);
  z-index:-1;
  top:0px;
}
 .user_menu>div:hover:after{
;
opacity:1;transform: scale(1.1)





 }


   .project_access_rules h5{height:20px;margin-bottom:15px}
 .user_menu_div_click:after{
     content:'';
     display:block;
     width:80%;
     height:100%;
     position:absolute;
     transform:scale(1.1);
   background-color: #190c1ecc;
    background-image: linear-gradient(to bottom, rgba(37, 43, 48, 0), rgba(37, 43, 48, 1));
    border-radius: 6px;
    box-shadow: 0 0.3px 0 0 rgb(105, 105, 105), 0 0px 0 #717070 inset, 0 0 0 1px rgba(9, 14, 24, 0.1) inset, 0 1px 2px rgba(47, 52, 63, 0.9) inset;

    left: 10%;
z-index:-1;

    top: 0;

 }

 .user_owner_nickname,.user_nickname{font-size:1.4em;padding:3px;font-weight:bold;word-wrap:break-word}
#user_page .user_nickname{font-family: 'Gloria Hallelujah', cursive;}
#user_page  .user_nickname{font-size:28px;margin:20px 0;text-align:center;}

.ajax_loader_pic_style{position:fixed;z-index:1000000;width:80px;left:50%;margin-left:-40px;top:50%;}
.project_userinfo img{border-radius:10%;}
.project_userinfo{width:270px;display:none;position:absolute;top:20px;left:30px;border-radius:5px;
                 background-color:#fffdff;box-shadow: 0 0 2px grey;

                 ;z-index:10000000;height:190px;overflow:hidden;text-overflow:ellipsis}
.project_userinfo>div:not(.clear){width:50%; height:130px}
.project_userinfo>div:not(.parentclose){float:left;padding:10px;margin:0px;;text-overflow:ellipsis;overflow:hidden;

                                     background-color: #fafbff;

/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

                                 }
.infoarea{position:absolute;top:0px;left:50%;margin-left:-75px;background-color:#fff;width:150px;min-height:80px;padding:10px;border:1px solid #000;color:#444444;z-index:9999999;text-align:center;}
/*.news_list{position:relative;padding:10px;color:#6E6770;overflow:auto;height:530px;width:calc(100% + 20px)}*/
.news_list_wrap{margin: 0 auto;width:75%;}
.news_list_div{height:106px;background-color:#fff;;padding:0px;margin:15px 0;border:1px solid grey;border-radius:8px;width:100%;float:none;overflow:hidden}
.news_owner img{border-radius:50%}
.news_list_div>div{height:100%;}
.news_text{display:inline-block;left:50px;position:relative;}
.news_text>p{line-height:66px}
.news_owner{width:180px;float:left;;border-right:4px solid #cccebd;position:relative;background-color:#f3f3f3;font-weight:bold;text-align:center;cursor:pointer;}
.news_project_name{position:relative;z-index:2}
.news_project_name_back{position:absolute;width:100%;height:100%;opacity:0.6;background-color:#242839;}
.news_project_name>p{text-align:left;padding:10px;;color:#f7f7f7;font-weight:bold;position:relative;z-index:3}
.news_project{position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:1;}
.news_project_wrap{position:relative;width:127px;float:right}
.news_owner,.news_text{padding:15px;}
.news_date{float:right;padding:5px;}
.news_type{border:2px solid #74bcd4;border-radius:50%;background-color:#fff;width:40px;height:40px;position:absolute;right:-24px;top:calc(50% - 20px);background-color:#4b809e}
.news_type span{text-align:center;line-height:34px;font-size:20px;text-align:center;width:100%;height:100%;color:#fff;font-weight:bold}
.user_info{padding:0px;min-height:700px;background-color:#3f4347}
.user_profile_all_informaton_wrap>div{display:none;padding:10px;}

.user_info .project_header_top {height:40px;width:235px;visibility: visible}

.project_description{color:#2d3542;margin:20px 0;}
.project_bottom_area{background-color:#f8f8f8;border-top:1px solid #dadbdb;}
.project_info{padding:0px;min-height:30px;background-color:#3f4347;border-bottom:1px solid #afb0b7;color:#d7d8d7;padding-left:10px;font-size:12px;
             margin:0px;margin-bottom:25px;cursor:default;padding-top:5px;}
.project_info>div{height:100%;position:relative;padding-left:10px;}
.project_info>div:not(.project_bookmark_wrap){float:left;margin:0px 4px;}
/*.project_info>div span {position:absolute;bottom:4px;padding:5px;top:initial;}*/
.project_info>div span:before{color:#e6e6e6;position:relative;right:4px;}

.project_info .project_bookmark{ cursor:pointer;}
.project_bookmark_wrap{float:right;padding-right:5px}
.project_info .project_in_bookmark:before{color:#e68888;}
.project_info .project_date{float:right}
.project_date>span{right:5px;}
.project_likeit{height:200px;;}


.project_likeit_wrap{width:100px;height:100px;border-radius:50%;border:1px solid grey;margin:0 auto;text-align:center;background-color: #0085ad;cursor:pointer;margin-top:50px;
background-image: url("https://www.transparenttextures.com/patterns/pineapple-cut.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */}

.project_likeit_wrap:hover{background-color:#aa3282;}
.project_likeit_wrap>span{font-size:40px;line-height:100px;}
#edit_user_info{font-weight:bold;color:#F6F6F6;position:absolute;bottom:10px; right:10px;text-align:center;color: #F2F2F2;background:#6e6c7166;padding:5px;border-radius:5px;
}
#edit_user_info:before{font-size:1.1em}
.noedit_userinfo:focus,.noedit_userinfo:hover{border:none !important;box-shadow:none !important}
.noedit_userinfo{;cursor: default !important;font-size:1em;border:none;box-shadow:none;background-color:#393939!important;}
.noedit_userinfo input {
     cursor: default;;
}
.noedit_userinfo_symv:after{content:':';position:reltive;}
.hide_location_input{display:none;}
.hideinteres_input_inline,.hideinteres_input{display:none;}

#user_city{width:100%;height:30px;}
.child_div_back >div{background-color: #f8f8f8;border-radius:5px;}
.interes_val{padding:0px;}
.interes_val>span{font-size:1em;}
.bootstrap-tagsinput>span,.interes_val>span{;margin:3px 6px;padding:5px;display:inline-block;}
#userpage_nav{position:absolute;bottom:5px;font-weight:bold;;left:0;right:0;text-align:center}
#userpage_nav>span{margin:0px 10px;padding:5px;cursor:pointer;display:inline-block}

#bookmarks{

padding:0px;position:relative;
}

.items_nav{padding:0px;position:relative;transform: translateY(-50%);top:50%;visibility: hidden}
.items_nav_active{visibility:visible !important}
.dop_nav_wrap{position:absolute;top:0px;right:-20px;height:100%;}
.header_dop_nav .add_menudiv_item>span{height:100%;width:33%;text-align:center}
.header_dop_nav .add_menudiv_item>span:last-child{width:34%}
.header_dop_nav .add_menudiv_item{background-color:#020101;padding:0px;height:20px;width:100%;margin-bottom:20px}

.header_dop_nav{z-index:100000;position:absolute;top:40px;background-color:#fff;border:1px solid grey;line-height:normal;width:100%;max-width:370px;left:0;right:0;margin:0 auto;min-height:300px;}
.header_dop_nav span{padding:10px 15px;display:block; ;cursor:pointer}

.add_menudiv_item>span,.items_nav>span:not(.arrow_dop_div):not(.add_menudiv_item){padding:0 8px;cursor:pointer;display:inline-block}
/*.items_nav span:last-child{margin-right:0;}*/
.arrow_dop_div{width:25px;height:100%;color:red;position:relative;top:3px;right:5px;font-size:12px;font-weight:bold;color:#fff;line-height:40px;cursor:pointer;}

.items_nav .active {color:#e7a0af}
#bookmarks>div{display:none;}
.peoples_item{width:120px;height:140px;text-align:center;background-color:#fff;border-radius:4px 4px 0 0;padding:10px; float:left;margin: 6px;color:#6e6770;border:1px solid #e7e7e7}
.peoples_item_ava{width:100%;height:calc(100% - 10px);}


.bookmarks_bookmarks_item_wrap{height:115px;width:200px;background-color:#fff;margin:10px;padding:0px;float:left;;border-radius:4px;overflow:hidden}


.bookmarks_bookmarks_item_wrap>div{float:left;height:100%;position:relative;}
.bookmarks_bookmark_item{width:60%}
.bookmark_project_foto{height:80%;width:100%}
.bookmark_project_name{position:absolute;bottom:0px;height:20%;background-color:#d17171;margin:0px;width:100%;padding:3px;overflow:hidden;white-space: nowrap;text-overflow:ellipsis}
.bookmark_author{width:40%;height:20%;text-align:center;background-color:#fbfbfb;color:#6E6770}
.bookmark_author img{border-radius:50%}

.profile_content_wrap{margin-bottom:70px;overflow:hidden;border-top:1px solid #d4d4d4;position:relative;}
.savesettings_wrap{
    padding:20px;
    position:fixed;top:50px;width:50%;left:50%;margin-left:-25%;color:#000;min-height:70vh;background-color:#fff;z-index:10000000
}
.savesettings_wrap .alert{color:red;border:2px solid grey;background-color:#f5f5f5;margin:20px 0;}
.savesettings_wrap p{margin:40px 0;font-size:1.2em;}
.savesettings_wrap_item{font-weight:bold;font-size:1.1em;padding:5px;color:#000;;}
.save_settings_footer{width:400px;margin:70px auto 40px auto;background-color:#f5f5f5;border-top: 1px solid #ddd;overflow:hidden}
.save_settings_footer>div{width:150px;margin:20px;padding:10px;float:left;color:#fff;text-align:center;cursor:pointer}

.accept{

    background-color:#42AA29;
    border-radius:8px;
}
.hover_light:hover{background-color:#F6F6F6;cursor:pointer}
.cancel{background-color:#AA2929; border-radius:8px;}
.disabled:hover{cursor:not-allowed}
.disabled{;cursor:default;background-color:grey !important;opacity:0.6}
.container_content_only_width {width:40%;margin:30px auto;position:relative;z-index:100;}
.container_content{width:95%;max-width:600px;margin:30px auto;position:relative;color:#636363;padding:10px;background-color:#fbfbfb;border-radius:15px;min-height:300px;}
.settings_friend_list_wrap{z-index:1000000;min-height:400px;width:250px;position:fixed;top:50px;left:50%;margin-left:-125px;background-color:#fff;color:#333;overflow:hidden;border:2px solid #000}
.settings_friend_list>div{margin:0px;padding:10px;border-bottom:1px solid #e6e0e0;}

.settings_friend_list img{width:60px;border-radius:50%;text-align:center;}
.settings_friend_list_nick{width:50%;text-align:left;overflow:hidden;text-overflow: ellipsis;float:left;}
.selected_friend_list{max-width:300px}
.selected_friend_list sup {font-weight:bold;color:#995e5e;cursor:pointer;font-size:0.9em;}
.selected_friend_list_wrap {margin-top:10px;font-size:0.9em;color:grey}
.selected_friend_list_wrap>p{display:inline-block;margin-right:5px;}
.more_settings_friend{margin-left:20px;}
.delete_friendlist_item{margin:0 10px 0 5px}
.delete_friendlist_item>sup:after{display:inline-block;content:'x'}


.edit_user_project>span{display:block;float:left}





.edit_user_project .disable{position:relative;}

.edit_project_area{

    width:100%;height:30px;position:absolute;top:0px;
}


.edit_item{color:#fff;position:relative;z-index:200;width:33.3%;margin:1% 0;display:inline-block;padding:5px;}
.edit_project_area .glyphicon{font-size:1.2em;cursor:pointer}
.edit_project_area .glyphicon:hover:after{
    content:attr(data-desc);
    display:inline-block;position:absolute;top:-44px;left:0px;color:grey;padding:5px;background-color: #fff;border-radius:4px;
}


.edit_project_wrap{

    position:fixed;width:95%;max-width:400px;height:410px;top:10px;left:0px;background-color:#fff;color:#6E6770;z-index:100000;padding:20px;border:1px solid grey;right:0px;margin:0 auto;
}

.edit_userpage_fon,.reset_userpage_fon{cursor:pointer;display:none; margin: 10px;position:absolute;}
.edit_userpage_fon{top:10px;z-index:2}
.reset_userpage_fon{top:40px;z-index:2}
.edit_userpage_fon span{color:#f6e5f6;margin-right:10px;}
.reset_userpage_fon span {color:#f6e5f6;margin-right:10px;}
.edit_userpage_fon_input{position:absolute;top:0px;left:0px;width:100%;opacity:0;z-index:100;cursor:pointer}
.reset_userpage_fon:after,.edit_userpage_fon:after{ content:''; padding:10px;width:130px;left:-10px;top:0;z-index:-1;

    display:block;position:absolute;background-color:#202020;opacity:0.7;border-radius:3px;
}
.change_pos_div{width:200px !important;margin:0 auto !important}
.remove_proj_item{cursor:pointer;text-align:right;z-index:1000;height:25px;line-height:22px;width:25px;border-radius:50%;background-color:#fff;border:1px solid grey;right:-5px;top:-5px;;font-weight:400;;position:absolute;color:#877c7c;text-align:center;}
.remove_proj_item:before{position:relative;font-size:0.9em;color:#825a93cc;}
.remove_proj_item:hover:before{color:#9809d5cc}
.filter_main_menu{width:356px;}
.project_header_top{width:300px;}
.filter_main_menu,.project_header_top,.project_header_top_adaptive{position:fixed}
.project_header_top_adaptive_userpage>div,.filter_main_menu,.project_header_top,.project_header_top_adaptive_userpage,.project_header_top_adaptive{left:0;right:0;z-index:100000;color:#f5e217;font-weight:bold;height:40px;;margin-bottom:70px;;margin:0 auto;top:0;}
.project_header_top_adaptive_userpage{position:relative;width:230px;z-index:10000}
.project_header_top_adaptive>div:not(.header_dop_nav_adaptive),.filter_main_menu>div,.project_header_top>div{display:inline-block;height:inherit;}
.header_dop_nav_adaptive{display:none;position:absolute;right:0px;top:50px;padding:10px;background-color:#454254    ;width:170px;}
.arrow_for_adaptive_nav{top:15px;left:-5px;cursor:pointer;}
.header_dop_nav_adaptive>span{display:block;margin:10px 0;}
.header_dop_nav_adaptive>span:hover{cursor:pointer;}
.project_header_top>div:after{display:block;content:'';clear:both}



.userpage_menu{position:relative;}
.accept_remove_project,.cancel_remove_project{width:50%;font-weight:bold;cursor:pointer;display:inline-block}
.edit_projectcontent_wrap{position:absolute;top:0px;display:none;z-index:1000000;left:0;right:0;;color:rgb(63, 45, 69)}
.edit_projectcontent_wrap .top_add_project_menu{z-index:200000000;width:inherit;height:auto;background-color:#fff;width:100%;margin-bottom:0px;}
.edit_projectcontent_menu{overflow:hidden;height:50px;width:100%}
.edit_projectcontent_menu>div{float:left;width:20%;text-align:center;cursor:pointer;position:relative;font-weight:bold;height:inherit;padding-top:5px}
.edit_projectcontent_top{min-height:300px;}
.edit_projectcontent_menu>div:after{;position:absolute;content:'';bottom:0px;;left:0px;display:none;width:100%;border-bottom:2px solid #e46f88}
.edit_projectcontent_medium #main_content{background:none;border:none;margin-bottom:15px;padding:20px 0;margin-top:0px}
.edit_projectcontent_menu>div:hover:after{;display:block}
.edit_projectcontent_medium,.edit_projectcontent_top{width:90%;margin:10px auto;border-radius:4px;background-color:#e6eeef}
.action_editcontent p{width:50%;text-align:center;float:left;;height:100%;line-height:40px;cursor:pointer;position:relative}
.edit_projectcontent_wrap img{width:100%}
.edit_projectcontent_top>div{margin:10px 0;padding:15px;}
.action_editcontent{  ;overflow:hidden;;height:40px;}
.edit_project_name input{height:40px;width:100%}
.img_desc{color:red}
.edit_img_desc{padding:0}
.jsfl-desc{width:100%;}
.edit_projectcontent_wrap .project_ava{float:none;width:120px;border-radius:4px;border:1px solid #fff;  }
.project_actions_wrap{position:fixed;right:10px;color:grey;z-index:10000;top:70px;text-align:center; }
.project_actions_wrap .glyphicon{font-size:30px;color:grey;transition:200ms color ease-in;}

.project_actions_wrap>div:hover{
    cursor:pointer;
}
.project_actions_wrap .project_actions_color{
    color:red
}



.header_dop_nav_filter_wrap>div:after,.project_sort_info > div:after{
    transition:all 0.3s;
        cursor:pointer;
    line-height:40px;
    text-align:center;top:0;left:0;
    content:"\e014";
    font-family:'Glyphicons Halflings';
     z-index:1001000;
opacity:0;
    position:absolute;
    display:block;
    width:100%;height:100%;
     font-size:25px;color:#fff;
 border-radius: 7px

}
.edit_user_project_active .glyphicon-edit{color:green !important}


.header_dop_nav_filter_wrap>div:hover:after,.project_sort_info > div:hover:after{background-color:#3e6072b3;opacity:1;}
.sort_project_type>div:hover{cursor:pointer}
.adaptive_filter_rezult_content{width:100%;height:400px;background-color:#fff;max-width:600px;margin:0 auto;display:none;position:absolute;top:0px;left:0px;right:0;z-index:10000000}
.adaptive_filter_main_menu>div{cursor:poiner;float:left;background-color:red;padding:5px;}
.adaptive_filter_main_menu .active{background-color:greenyellow;color:grey}
.header_dop_nav_filter_wrap{padding:10px;}
#map-canvas{height:inherit;}

.userpage_menu_wrap{overflow:hidden}